<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}  <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Health Care Logo">
        </div>
        <h2>Login</h2>
{% if form.errors %}
    <ul style="color: red;">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li>{{ error|slice:"0:" }}</li>  {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="links">
            <a href="{% url 'accounts:password_reset' %}">Forgot password?</a><br>
            <a href="{% url 'accounts:register' %}">Create a new account</a>
        </div>
    </div>
</body>
</html>