<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Profile</title>
    <link rel="stylesheet" href="../../static/css/delete_profile.css"> <!-- Link to the external CSS -->
    {% load static %}
</head>
<body>
    <div class="container">
        <h1>Delete Profile</h1>
        <p>Are you sure you want to delete your profile {{ user_profile }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Profile</button>
            <a href="{% url 'accounts:patient_profile' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>