<!-- templates/Classes/schedule_appointment.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment List</title>
    <script>
        function updateStatus(form) {
            form.submit();  // Submit the form when the dropdown value changes
        }
    </script>
    <link rel="stylesheet" href="../../static/css/appointment_list_admin.css"> <!-- Link to the external CSS -->
    {% load static %}
</head>
<body>
<div>
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Health Care Logo">
            <span>Health Care</span>
        </div>
        <nav>
            <a href="{% url 'accounts:admin_profile' %}">Back to Admin Profile</a>
        </nav>

    </div>

    <main>
        <div class="dashboard-container">
            <h1>Appointment List</h1>
            {% if appointments %}
                <table>
                    <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Provider</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.patient.name }}</td>
                            <td>{{ appointment.provider }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                                    <select name="status" onchange="updateStatus(this.form)">
                                        <option value="pending"
                                                {% if appointment.status == 'pending' %}selected{% endif %}>
                                            Pending
                                        </option>
                                        <option value="completed"
                                                {% if appointment.status == 'completed' %}selected{% endif %}>Completed
                                        </option>
                                    </select>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No appointments found.</p>
            {% endif %}
        </div>

    </main>
</div>
</body>
</html>