<!-- templates/Classes/upcoming_appointments.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Appointments</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/patient_dashboard.css' %}">
</head>
<body>
<div class="dashboard-container">
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Health Care Logo">
            <span>Health Care</span>
        </div>
        <div>
            <a href="{% url 'accounts:patient_profile' %}">Back to Profile</a>
            <a href="{% url 'accounts:logout' %}" class="logout-btn">Logout</a>
        </div>
    </div>

    <div class="profile-content">
        <div class="profile-details">
            <h1>Upcoming Appointments</h1>
            {% if appointments %}
            <table class="table">
                <thead>
                     <tr>
                         <th>Provider</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.provider.name }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{ appointment.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No upcoming appointments.</p>
        {% endif %}

            <h2>Last Prescription</h2>
            {% if last_prescription %}
            <p><strong>Healthcare Provider:</strong> {{ last_prescription.provider }}</p>
            <p><strong>Medication:</strong> {{ last_prescription.medication }}</p>
                <p><strong>Dosage:</strong> {{ last_prescription.dosage }}</p>
            <p><strong>Instructions:</strong> {{ last_prescription.instructions }}</p>
            <p><strong>Date Created:</strong> {{ last_prescription.date_created }}</p>
            {% else %}
                <p>No prescriptions found.</p>
            {% endif %}

            <h2>Notification</h2>
            {% if prescriptions %}
            {% for prescription in prescriptions %}
            {% if not prescription.send %}
                <p>Prescription in {{ prescription.date_created }} by {{ prescription.provider }} includes {{ prescription.medication }} <strong style="color: red;">NOT SENT</strong></p>
            {% else %}
                <p>Prescription in {{ prescription.date_created }} by {{ prescription.provider }} includes {{ prescription.medication }} <strong style="color: green;">SENT</strong></p>
                {% endif %}
            {% endfor %}
            {% else %}
                <p>No notifications.</p>
            {% endif %}

        </div>
    </div>
</div>
</body>
</html>
