
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoices List</title>
</head>
<body>
    <div class="container">
        <h1>Invoices List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Service Description</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>View Detail</th>
                    <th>Pay</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.date }}</td>
                    <td>{{ invoice.prescription.service_description }}</td>
                    <td>{{ invoice.payable_amount  }}</td>
                    <td>{{ invoice.status }}</td>
                    <td>
                        <a href="{% url 'accounts:edit_invoice' invoice.id %}" >Edit</a>

                    </td>
                  <td>
                    <a href="{% url 'accounts:invoice_detail' invoice.id %}" >Detail</a>

                  </td>
                  <td>
                    {% if invoice.status == 'paid' %}
                    <td>IT is Paid</td>
                    {% else %}
                    <form action="{% url 'accounts:invoice_pay' invoice.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" >Pay</button>
                        </form>
                    {% endif %}

                  </td>
                    <td>
                        <a href="{% url 'accounts:delete_invoice' invoice.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      <a href="{% url 'accounts:add_invoice' %}" class="btn btn-primary">Add Invoice</a>
      <a href="{% url 'accounts:admin_profile' %}">Profile Page</a>
    </div>
</body>
</html>