<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice List</title>
    <link rel="stylesheet" href="../../static/css/invoice_detail.css"> <!-- Link to the external CSS -->
    {% load static %}
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Health Care Logo">
            <span>Health Care</span>
        </div>
        <nav>
            <a href="{% url 'accounts:invoice_view' %}">Back to invoices</a>
        </nav>
    </div>
    <div class="dashboard-container">
        <h1>Invoice Details</h1>
        <ul class="list_ubi">
            <li><strong>Patient - Healthcare Provider:</strong> {{ invoice.prescription }}</li>
            <li><strong>Total Amount:</strong> {{ invoice.total_amount }}</li>
            <li><strong>Insurance Cover:</strong> {{ invoice.insurance_cover }}</li>
        </ul>
        <a href="{% url 'accounts:download_invoice' invoice.id %}" class="download-btn">
            Download Invoice
        </a>
    </div>
</body>
</html>
