<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice List</title>
    <link rel="stylesheet" href="../../static/css/invoice_list.css"> <!-- Link to the external CSS -->
    {% load static %}
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Health Care Logo">
            <span>Health Care</span>
        </div>
        <nav>
            <a href="{% url 'accounts:admin_profile' %}">Back to Profile</a>
        </nav>
    </div>
    <div class="dashboard-container">
        <h1>Invoices List</h1>
            {% if invoices %}
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Service Description</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Edit</th>
                <th>View Detail</th>
                <th>Pay</th>
                <th>Delete</th>

            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.date }}</td>
                    <td>{{ invoice.prescription.service_description }}</td>
                    <td>{{ invoice.payable_amount }}</td>
                    <td>{{ invoice.status }}</td>
                    <td>
                        <a href="{% url 'accounts:edit_invoice' invoice.id %}">Edit</a>

                    </td>
                    <td>
                        <a href="{% url 'accounts:invoice_detail' invoice.id %}">Detail</a>

                    </td>

                        {% if invoice.status == 'paid' %}
                            <td>IT is Paid</td>
                        {% else %}
                            <form action="{% url 'accounts:invoice_pay' invoice.id %}" method="post">
                                {% csrf_token %}
                              <td>  <button type="submit">Pay</button> </td>
                            </form>
                        {% endif %}


                    <td>
                        <a href="{% url 'accounts:delete_invoice' invoice.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                {% else %}
                <p>No Invoices.</p>
            {% endif %}
        <a href="{% url 'accounts:add_invoice' %}" class="btn btn-primary">Add Invoice</a>
    </div>
</div>
</body>
</html>